<div class="subheader py-5 py-lg-10 gutter-b subheader-solid" id="kt_subheader"
    style="background-color: #127E9B; background-position: right bottom; background-size: auto 100%; background-repeat: no-repeat; background-image: url(assets/media/svg/patterns/art_barra.svg)">
    <div class="container-fluid d-flex flex-column">

        <!--begin::Title-->
        <div class="d-flex align-items-sm-end flex-column flex-sm-row mb-5">
            <h2 class="d-flex align-items-center text-white mr-5 mb-0">Processo</h2>
        </div>

        <!--end::Title-->
    </div>
</div>

<!--end::Subheader-->

<!--begin::Modal-->
<div class="modal fade" id="filesModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Arquivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="kt_subheader_leaflet" style="width: 100%;">
                    <upload-file [config]="config" #dzoneUpload></upload-file>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closeModalFile class="btn btn-light-primary font-weight-bold"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="onSaveFiles()" class="btn btn-primary font-weight-bold">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="{{layoutSize.container}}">
        <!--begin::Row-->
        <div class="row">
            <div class="{{layoutSize.col}}">

                <div class="card card-custom card-stretch gutter-b">

                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">{{ titleCard }} Processo</span>
                        </h3>
                    </div>

                    <!--end::Header-->

                    <div class="card-body pt-0 pb-3">
                        <!-- begin::Entry -->
                        <form class="form" novalidate #form="ngForm">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Cessionários:</label>
                                        <ng-select [items]="clientsAssignees$ | async" #selectAssignees="ngModel" [disabled]="!process.active"
                                            [ngClass]="{'is-invalid': process.assignees?.length == 0 && error}" bindLabel="name" bindValue="id"
                                            name="assignee_id" [multiple]="true" [hideSelected]="true" [loading]="clientLoadingAssignee"
                                            [typeahead]="clientinputAssignee$" notFoundText="Cliente não encontrado" loadingText="Carregando..."
                                            clearAllText="Limpar busca" typeToSearchText="Digite para buscar clientes" [(ngModel)]="process.assignee_id">
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Valor Total - Investidor*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" placeholder="99,90" mask="0*,09"
                                                name="total_value" #total_value="ngModel" [(ngModel)]="process.total_value" [dropSpecialCharacters]="false"
                                                [ngClass]="{'is-invalid': !total_value.valid && error}" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Data*:</label>
                                        <input type="date" class="form-control" name="date" #date="ngModel" [(ngModel)]="process.date"
                                            [ngClass]="{'is-invalid': !date.valid && error}" [disabled]="!process.active" required/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Valor Atualizado Bruto*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" [dropSpecialCharacters]="false" required placeholder="99,90" mask="0*,09" name="value_rough" #value_rough="ngModel" [(ngModel)]="process.value_rough"  [ngClass]="{'is-invalid': !value_rough.valid && error}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Valor Autor*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" [dropSpecialCharacters]="false" required placeholder="99,90" mask="0*,09" name="value_author" #value_author="ngModel" [(ngModel)]="process.value_author" [ngClass]="{'is-invalid': !value_author.valid && error}" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Despesas Operacionais*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" [dropSpecialCharacters]="false" required placeholder="99,90" mask="0*,09" name="outgoing_operationals" #outgoing_operationals="ngModel" [(ngModel)]="process.outgoing_operationals" [ngClass]="{'is-invalid': !outgoing_operationals.valid && error}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Despesas Judicais e Cartório*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" [dropSpecialCharacters]="false" placeholder="99,90" mask="0*,09" name="outgoing_judicials"
                                                #outgoing_judicials="ngModel" [(ngModel)]="process.outgoing_judicials" [ngClass]="{'is-invalid': !outgoing_judicials.valid && error}" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Valor Receber - Ano Previsto*:</label>
                                        <input type="date" class="form-control" [disabled]="!process.active" name="date_receive" #date_receive="ngModel"
                                            [(ngModel)]="process.date_receive" [ngClass]="{'is-invalid': !date_receive.valid && error}" required />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Responsável*:</label>
                                        <ng-select [items]="clientsResponsable$ | async" #selectResponsable="ngModel" [disabled]="!process.active"
                                            [ngClass]="{'is-invalid': !process.responsable_id && error}" bindLabel="name" bindValue="id"
                                            name="responsable_id" [multiple]="false" [hideSelected]="true" [loading]="clientLoadingResponsable"
                                            [typeahead]="clientinputResponsable$" notFoundText="Usuário não encontrado" loadingText="Carregando..."
                                            clearAllText="Limpar busca" typeToSearchText="Digite para buscar usuário" [(ngModel)]="process.responsable_id"
                                            required>
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Ano Previsto Pagamento*:</label>
                                        <input type="date" class="form-control" [disabled]="!process.active" name="payment_year" #payment_year="ngModel"
                                            [(ngModel)]="process.payment_year" [ngClass]="{'is-invalid': !payment_year.valid && error}" required />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button type="button" (click)="saveProcess()" class="btn btn-primary mr-2" *ngIf="process.active">Salvar</button>
                                <button type="button" (click)="reopenProcess()" class="btn btn-primary mr-2" *ngIf="!process.active">Reabrir Processo</button>
                                <a [routerLink]="['/processos']" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                        <!-- end::Entry -->
                    </div>
                </div>
            </div>


            <!--begin::Status-->
            <div class="col-md-4" *ngIf="process_id">
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Status</span>
                        </h3>
                    </div>
                    <!--end::Header-->

                    <!--begin::Body-->
                    <div class="card-body scroll-card pt-0 pb-3">
                        <timeline-status [allStatus]="process.status" [idProcess]="process.id" [isDone]="isDone" (closeProcess)="closeProcess($event)"></timeline-status>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
            <!--end::Status-->
        </div>
        <div class="row">
            <div class="col-md-8" *ngIf="process_id">
                <app-assignors-list [assignors]="process.assignors" [process_id]="process_id" [percentAvailable]="percentAvailable" [totalValue]="totalValue" [process_active]="process.active"></app-assignors-list>
            </div>
            <div class="col-md-4" *ngIf="process_id">
                <div class="card card-custom gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Arquivos</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ countFiles }} encontrado(s)</span>
                        </h3>
                        <div class="card-toolbar">
                            <a href="javascript:;" (click)="setParamsClientUpload(process.id)" [hidden]="!process.active" class="btn btn-icon btn-sm btn-outline-info"
                                data-toggle="modal" aria-haspopup="true" aria-expanded="false" data-target="#filesModal">
                                <span class="svg-icon svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Cloud-upload.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path
                                                d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z"
                                                fill="#000000" opacity="0.3" />
                                            <path
                                                d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(11.959697, 18.661508) rotate(-90.000000) translate(-11.959697, -18.661508) " />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <app-process-file-list [filesProcess]="filesProcess"></app-process-file-list>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
        </div>
    </div>
</div>
