<div class="subheader py-5 py-lg-10 gutter-b subheader-solid" id="kt_subheader"
    style="background-color: #127E9B; background-position: right bottom; background-size: auto 100%; background-repeat: no-repeat; background-image: url(assets/media/svg/patterns/art_barra.svg)">
    <div class="container-fluid d-flex flex-column">

        <!--begin::Title-->
        <div class="d-flex align-items-sm-end flex-column flex-sm-row mb-5">
            <h2 class="d-flex align-items-center text-white mr-5 mb-0">Processo</h2>
        </div>

        <!--end::Title-->
    </div>
</div>

<!--end::Subheader-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="{{layoutSize.container}}">
        <!--begin::Row-->
        <div class="row">
            <div class="{{layoutSize.col}}">

                <div class="card card-custom card-stretch gutter-b">

                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">{{ titleCard }} Processo</span>
                        </h3>
                    </div>

                    <!--end::Header-->

                    <div class="card-body pt-0 pb-3">
                        <!-- begin::Entry -->
                        <form class="form" novalidate #form="ngForm">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Cedentes:</label>
                                        <ng-select [items]="clientsAssignors$ | async" #selectAssignors="ngModel"
                                            [ngClass]="{'is-invalid': process.assignors?.length > 0 && error}" bindLabel="name" bindValue="id"
                                            name="assignor_id" [multiple]="true" [hideSelected]="true" [loading]="clientLoadingAssignor"
                                            [typeahead]="clientinputAssignor$" notFoundText="Cliente não encontrado"
                                            loadingText="Carregando..."
                                            clearAllText="Limpar busca" [disabled]="!process.active"
                                            typeToSearchText="Digite para buscar clientes"
                                            [(ngModel)]="process.assignor_id" >
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Cessionários:</label>
                                        <ng-select [items]="clientsAssignees$ | async" #selectAssignees="ngModel" [disabled]="!process.active"
                                            [ngClass]="{'is-invalid': process.assignors?.length > 0 && error}" bindLabel="name" bindValue="id"
                                            name="assignee_id" [multiple]="true" [hideSelected]="true" [loading]="clientLoadingAssignee"
                                            [typeahead]="clientinputAssignee$" notFoundText="Cliente não encontrado" loadingText="Carregando..."
                                            clearAllText="Limpar busca" typeToSearchText="Digite para buscar clientes" [(ngModel)]="process.assignee_id">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Data*:</label>
                                        <input type="date" class="form-control" name="date" #date="ngModel" [(ngModel)]="process.date"
                                            [ngClass]="{'is-invalid': !date.valid && error}" [disabled]="!process.active" required/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Valor Atualizado Bruto*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" required placeholder="99,90" mask="0*,09" name="value_rough" #value_rough="ngModel" [(ngModel)]="process.value_rough"  [ngClass]="{'is-invalid': !value_rough.valid && error}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Valor Autor*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" required placeholder="99,90" mask="0*,09" name="value_author" #value_author="ngModel" [(ngModel)]="process.value_author" [ngClass]="{'is-invalid': !value_author.valid && error}" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Despesas Operacionais*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" required placeholder="99,90" mask="0*,09" name="outgoing_operationals" #outgoing_operationals="ngModel" [(ngModel)]="process.outgoing_operationals" [ngClass]="{'is-invalid': !outgoing_operationals.valid && error}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Despesas Judicais e Cartório*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" placeholder="99,90" mask="0*,09" name="outgoing_judicials"
                                                #outgoing_judicials="ngModel" [(ngModel)]="process.outgoing_judicials" [ngClass]="{'is-invalid': !outgoing_judicials.valid && error}" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Valor Total - Investidor*:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">R$</span></div>
                                            <input type="text" class="form-control" [disabled]="!process.active" placeholder="99,90" mask="0*,09" name="total_value"
                                                #total_value="ngModel" [(ngModel)]="process.total_value" [ngClass]="{'is-invalid': !total_value.valid && error}" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Valor Receber - Ano Previsto*:</label>
                                        <input type="date" class="form-control" [disabled]="!process.active" name="date_receive" #date_receive="ngModel"
                                            [(ngModel)]="process.date_receive" [ngClass]="{'is-invalid': !date_receive.valid && error}" required/>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Percentual de Ganho Ano Previsto*:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="99,90" mask="0*,09" name="percentual_gain"
                                            #percentual_gain="ngModel" [disabled]="!process.active" [(ngModel)]="process.percentual_gain" [ngClass]="{'is-invalid': !percentual_gain.valid && error}" required/>
                                            <div class="input-group-prepend"><span class="input-group-text">%</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Responsável*:</label>
                                        <ng-select [items]="clientsResponsable$ | async" #selectResponsable="ngModel" [disabled]="!process.active"
                                            [ngClass]="{'is-invalid': !process.responsable_id && error}" bindLabel="name" bindValue="id"
                                            name="responsable_id" [multiple]="false" [hideSelected]="true" [loading]="clientLoadingResponsable"
                                            [typeahead]="clientinputResponsable$" notFoundText="Usuário não encontrado" loadingText="Carregando..."
                                            clearAllText="Limpar busca" typeToSearchText="Digite para buscar usuário" [(ngModel)]="process.responsable_id"
                                            required>
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Ano Previsto Pagamento*:</label>
                                        <input type="date" class="form-control" [disabled]="!process.active" name="payment_year" #payment_year="ngModel"
                                            [(ngModel)]="process.payment_year" [ngClass]="{'is-invalid': !payment_year.valid && error}" required />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button type="button" (click)="saveProcess()" class="btn btn-primary mr-2" *ngIf="process.active">Salvar</button>
                                <button type="button" (click)="reopenProcess()" class="btn btn-primary mr-2" *ngIf="!process.active">Reabrir Processo</button>
                                <a [routerLink]="['/processos']" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                        <!-- end::Entry -->
                    </div>
                </div>
            </div>


            <!--begin::Status-->
            <div class="col-md-4" *ngIf="process_id != null">
                <div class="card card-custom card-stretch gutter-b">
                    <!--begin::Header-->
                    <div class="card-header border-0 py-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Status</span>
                        </h3>
                    </div>
                    <!--end::Header-->

                    <!--begin::Body-->
                    <div class="card-body pt-0 pb-3">
                        <timeline-status [allStatus]="process.status" [idProcess]="process.id" [isDone]="isDone" (closeProcess)="closeProcess($event)"></timeline-status>
                    </div>
                    <!--end::Body-->
                </div>
            </div>
            <!--end::Status-->
        </div>
    </div>
</div>
