<!--begin::Timeline-->
<div class="timeline timeline-6 mt-3">
    <!--begin::Item-->
    <div class="timeline-item align-items-start" *ngFor="let item of allStatus; let i = index">
        <!--begin::Label-->
        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg">
            <a href="javascript:;" (click)="deleteStatus(item.pivot?.id)" class="btn btn-icon btn-light-danger btn-sm" *ngIf="!isDone && (item.id != statusReopen) && (allStatus.length - 1) == i">
                <span class="svg-icon">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Trash.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                        viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path
                                d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                fill="#000000" fill-rule="nonzero" />
                            <path
                                d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
            </a>
        </div>
        <!--end::Label-->

        <app-status-icon [idStatus]="item.id"></app-status-icon>

        <div class="timeline-content">
            <!--begin::Title-->
            <div>
                <a href="#" *ngIf="!isDone && (item.id != statusReopen)" title="Editar item" class="font-weight-bolder text-dark-75 font-size-lg pl-3" data-toggle="modal" data-target="#statusModal" (click)="openModal(item)">
                    {{ item.name }}
                </a>
                <div *ngIf="isDone || (item.id == statusReopen)" class="font-weight-bolder text-dark-75 font-size-lg pl-3">
                    {{ item.name }}
                </div>
            </div>
            <!--end::Title-->

            <!--begin::Text-->
            <div class="font-weight-mormal font-size-lg text-muted pl-3">
                {{ item.pivot?.description }}
            </div>
            <span class="form-text font-size-xs text-muted pl-3">Última atualização: {{ item.pivot?.updated_at | date: 'dd/MM/yyyy - HH:mm:ss' }}</span>
            <!--end::Text-->
        </div>
    </div>
    <!--end::Item-->

    <!--begin::Item-->
    <div class="timeline-item align-items-start" *ngIf="!isDone">
        <!--begin::Label-->
        <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg"></div>
        <!--end::Label-->

        <!--begin::Badge-->
        <div class="timeline-badge">
            <i class="fa fa-genderless text-muted icon-xl"></i>
        </div>
        <!--end::Badge-->

        <div class="timeline-content">
            <!--begin::Title-->
            <div>
                <a href="#" class="font-weight-bolder text-muted font-size-lg pl-3" data-toggle="modal" data-target="#statusModal" (click)="openModal()">
                    Adicionar novo status
                </a>
            </div>
            <!--end::Title-->

            <!--begin::Text-->
            <div class="font-weight-mormal font-size-lg text-muted pl-3"></div>
            <!--end::Text-->
        </div>
    </div>
    <!--end::Item-->
</div>
<!--end::Timeline-->


<!--begin::Modal-->
<div class="modal fade" id="statusModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!status.id; else editStatus" class="modal-title">Adicionar novo status</h5>
                <ng-template #editStatus>
                    <h5 class="modal-title">Editar status</h5>
                </ng-template>
                <button type="button" (click)="clearObject()" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="kt_subheader_leaflet" style="width: 100%;">
                    <form class="form" #form="ngForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Status*:</label>
                                    <select type="text" [disabled]="isEdit" class="form-control" name="status_id" #status_id="ngModel"
                                        [(ngModel)]="status.status_id" [ngClass]="{'is-invalid': !status_id.valid && error}"
                                        placeholder="Selecione o status" required >
                                        <option *ngFor="let element of statusOptions" [value]="element.id">{{ element.name }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Descrição (Opcional):</label>
                                    <textarea type="text" class="form-control" name="description" #description="ngModel" maxlength="100"
                                        [(ngModel)]="status.description"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="clearObject()" #closeModal class="btn btn-light-primary font-weight-bold"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="onSave()" class="btn btn-primary font-weight-bold">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!--end::Modal-->
