
<app-client-edit [client]="client"></app-client-edit>


<!--begin::Modal-->
<div class="modal fade" id="filesModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Arquivos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div id="kt_subheader_leaflet" style="width: 100%;">
                    <upload-file [config]="config" #dzoneUpload></upload-file>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closeModalFile class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="onSaveFiles()" class="btn btn-primary font-weight-bold">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->


<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-7">
                <div class="card card-custom gutter-b" style="height: 550px;">
                    <div class="card-header">
                        <h3 class="card-title">Dados Pessoais</h3>
                        <div class="card-toolbar">
                            <a class="btn btn-primary font-weight-bolder font-size-sm mr-3" data-toggle="modal" data-target="#modalClient">Editar</a>
                        </div>
                    </div>
                    <form class="form" #form="ngForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Status:</label>
                                    <p class="form-control-plaintext text-muted">
                                        <span *ngIf="client.status == 1; else clientBloqued" class="label label-light-success label-pill label-inline mr-2">
                                            Ativo
                                        </span>

                                        <ng-template #clientBloqued >
                                            <span class="label label-light-danger label-pill label-inline mr-2">
                                                Bloqueado
                                            </span>
                                        </ng-template>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <label>Último acesso:</label>
                                    <p class="form-control-plaintext text-muted">
                                        <span *ngIf="client.last_access; else clientLastAccessNever">
                                            <span class="label label-light-info label-pill label-inline mr-2">{{ client.last_access | date: "dd/MM/yyyy h:i" }}</span>
                                        </span>
                                        <ng-template #clientLastAccessNever>
                                            <span class="label label-light-warning label-pill label-inline mr-2">Nunca</span>
                                        </ng-template>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Nome completo:</label>
                                    <p class="form-control-plaintext text-muted">
                                        {{ client.name }}
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <label>CPF:</label>
                                    <p class="form-control-plaintext text-muted">
                                        {{ client.cpf | mask: "000.000.000-00" }}
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Data de nascimento:</label>
                                    <p class="form-control-plaintext text-muted">
                                        {{ client.birth_date | date:'dd/MM/yyyy' }}
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <label>Telefone:</label>
                                    <p class="form-control-plaintext text-muted">
                                        {{ client.phone | mask: "(00) 0000-00009" }}
                                    </p>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-5"></div>
                            <div class="form-group">
                                <label>E-mail:</label>
                                <p class="form-control-plaintext text-muted">
                                    {{ client.email }}
                                </p>
                            </div>
                            <div class="separator separator-dashed my-5"></div>
                            <div class="form-group">
                                <button type="button" class="btn btn-light-success font-weight-bolder font-size-sm mr-3">Redefinir Senha</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card card-custom gutter-b" style="height: 550px;">
                    <div class="card-header">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Arquivos</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ countFiles }} encontrado(s)</span>
                        </h3>
                        <div class="card-toolbar">
                            <a href="javascript:;" (click)="setParamsClientUpload(client.id)" class="btn btn-icon btn-sm btn-outline-info" data-toggle="modal" aria-haspopup="true" aria-expanded="false" data-target="#filesModal">
                                <span class="svg-icon svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Cloud-upload.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                        viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24" />
                                            <path d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z" fill="#000000" opacity="0.3" />
                                            <path d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 18.661508) rotate(-90.000000) translate(-11.959697, -18.661508) " />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <app-client-file-list [filesClient]="filesClient"></app-client-file-list>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="card card-custom gutter-b">
                    <div class="card-header">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label font-weight-bolder text-dark">Processos</span>
                            <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ countProcess }} encontrado(s)</span>
                        </h3>
                        <div class="card-toolbar">
                            <a class="btn btn-primary font-weight-bolder font-size-sm mr-3">Novo</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="ml-2">
                            <p class="text-muted">Em breve...</p>
                        </div>

                        <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
                            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center table-hover">
                                <thead>
                                    <tr class="text-left text-uppercase">
                                        <th style="min-width: 35%" class="pl-7">
                                            <span class="text-dark-75">Nº Processo</span>
                                        </th>
                                        <th style="min-width: 15%">Data Abertura</th>
                                        <th style="min-width: 15%">Info</th>
                                        <th style="min-width: 15%">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pl-0 py-4">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <p class="text-dark-75 font-weight-bolder mb-1 font-size-lg" style="margin-left: 21px;">123</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-muted font-weight-bold">08/10/1993</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-weight-bold"><span class="label label-light-success label-pill label-inline mr-2">Ativo</span></span>
                                        </td>
                                        <td class="pr-0 text-left">
                                            <a [routerLink]="['/processos']" class="btn btn-icon btn-sm btn-outline-primary mr-2">
                                                <span class="svg-icon svg-icon-primary svg-icon-2x">begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Search.svg<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"/>
                                                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
                                                    </g>
                                                </svg>end::Svg Icon</span>
                                             </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
