<!--begin::Modal-->
<div class="modal fade" id="modalClient" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!client.id; else editClient" class="modal-title">Adicionar novo cliente</h5>
                <ng-template #editClient>
                    <h5 class="modal-title">Editar cliente</h5>
                </ng-template>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" style="height: 500px; overflow: auto;">
                <div id="kt_subheader_leaflet" style="width: 100%;">
                    <form class="form" #form="ngForm">
                        <div class="card-body">
                            <h3 class="font-size-lg text-dark font-weight-bold mb-6">Dados Pessoais</h3>
                            <div class="form-group row">
                                <div class="col-lg-4">
                                    <label>Status</label>
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.status" name="status"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <label>Certificado Digital</label>
                                    <span class="switch switch-outline switch-icon switch-primary">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.certificado_digital" name="certificado_digital"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Nome completo*:</label>
                                    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="client.name" [ngClass]="{'is-invalid': !name.valid && error}" placeholder="Informe o nome completo" required/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                                <div class="col-lg-6">
                                    <label>CPF*:</label>
                                    <input type="text" class="form-control" name="cpf" #cpf="ngModel" [(ngModel)]="client.cpf" [ngClass]="{'is-invalid': !cpf.valid && error}" placeholder="000.000.000-00" mask="000.000.000-00" required/>
                                    <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Data de nascimento*:</label>
                                    <input type="date" class="form-control" name="birth_date" #birth_date="ngModel" [(ngModel)]="client.birth_date" [ngClass]="{'is-invalid': !birth_date.valid && error}" required/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                                <div class="col-lg-6">
                                    <label>RG:</label>
                                    <input type="text" class="form-control" name="rg" #rg="ngModel" [(ngModel)]="client.rg" [ngClass]="{'is-invalid': !rg.valid && client.rg != null && error}"/>
                                    <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Telefone:</label>
                                    <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="client.phone" placeholder="(00) 0000-00000" mask="(00) 0000-00009" [ngClass]="{'is-invalid': !phone.valid && client.phone != null && error}"/>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-5"></div>
                            <div class="form-group">
                                <label>E-mail*:</label>
                                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="client.email" [ngClass]="{'is-invalid': !email.valid && error}" placeholder="email@exemplo.com" email required/>
                                <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                            </div>
                            <div class="separator separator-dashed my-5"></div>
                            <h3 class="font-size-lg text-dark font-weight-bold mb-6">Endereço</h3>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>CEP:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cep" mask="00000-000" #cep="ngModel" placeholder="Buscar CEP..." [(ngModel)]="client.cep" [ngClass]="{'is-invalid': !cep.valid && client.cep != null && error}">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" (click)="searchCEP()">
                                                Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <input type="text" class="form-control" name="cep" #cep="ngModel" [(ngModel)]="client.cep" [ngClass]="{'is-invalid': !cep.valid && client.cep != null && error}"/> -->
                                    <span class="form-text text-muted">Informe o CEP para buscar</span>
                                </div>
                                <div class="col-lg-6">
                                    <label>Nº:</label>
                                    <input type="text" class="form-control" name="numero" #numero="ngModel" [(ngModel)]="client.numero" [ngClass]="{'is-invalid': !numero.valid && client.numero != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Logradouro:</label>
                                    <input type="text" class="form-control" name="logradouro" #logradouro="ngModel" [(ngModel)]="client.logradouro" [ngClass]="{'is-invalid': !logradouro.valid && client.logradouro != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Bairro:</label>
                                    <input type="text" class="form-control" name="bairro" #bairro="ngModel" [(ngModel)]="client.bairro" [ngClass]="{'is-invalid': !bairro.valid && client.bairro != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Cidade:</label>
                                    <input type="text" class="form-control" name="cidade" #cidade="ngModel" [(ngModel)]="client.cidade" [ngClass]="{'is-invalid': !cidade.valid && client.cidade != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>UF:</label>
                                    <select type="text" class="form-control" name="uf" #uf="ngModel"
                                        [(ngModel)]="client.uf" [ngClass]="{'is-invalid': !uf.valid && client.uf != null && error}"
                                        placeholder="Selecione a UF" >
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" name="uf" #uf="ngModel" [(ngModel)]="client.uf" [ngClass]="{'is-invalid': !uf.valid && client.uf != null && error}"/> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Complemento:</label>
                                <input type="text" class="form-control" name="complemento" #complemento="ngModel" [(ngModel)]="client.complemento" [ngClass]="{'is-invalid': !complemento.valid && client.complemento != null && error}" placeholder="Ex.: Apt. 999"/>
                                <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" #closeModal class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="onSave()" class="btn btn-primary font-weight-bold">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->
