<div class="subheader py-5 py-lg-10 gutter-b subheader-solid" id="kt_subheader"
    style="background-color: #127E9B; background-position: right bottom; background-size: auto 100%; background-repeat: no-repeat; background-image: url(assets/media/svg/patterns/art_barra.svg)">
    <div class="container-fluid d-flex flex-column">

        <!--begin::Title-->
        <div class="d-flex align-items-sm-end flex-column flex-sm-row mb-5">
            <h2 class="d-flex align-items-center text-white mr-5 mb-0">Cliente</h2>
        </div>

        <!--end::Title-->
    </div>
</div>

<!--end::Subheader-->

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <form class="form" #form="ngForm">
            <!--begin::Row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">Dados Gerais</h3>
                            <div class="card-toolbar">
                                <a href="javascript:;" class="btn btn-icon btn-sm btn-outline-info" data-toggle="modal" aria-haspopup="true" aria-expanded="false" data-target="#conjugeModal">
                                    <span class="svg-icon svg-icon-2x">
                                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Cloud-upload.svg--><svg
                                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <path d="M5.74714567,13.0425758 C4.09410362,11.9740356 3,10.1147886 3,8 C3,4.6862915 5.6862915,2 9,2 C11.7957591,2 14.1449096,3.91215918 14.8109738,6.5 L17.25,6.5 C19.3210678,6.5 21,8.17893219 21,10.25 C21,12.3210678 19.3210678,14 17.25,14 L8.25,14 C7.28817895,14 6.41093178,13.6378962 5.74714567,13.0425758 Z" fill="#000000" opacity="0.3" />
                                                <path d="M11.1288761,15.7336977 L11.1288761,17.6901712 L9.12120481,17.6901712 C8.84506244,17.6901712 8.62120481,17.9140288 8.62120481,18.1901712 L8.62120481,19.2134699 C8.62120481,19.4896123 8.84506244,19.7134699 9.12120481,19.7134699 L11.1288761,19.7134699 L11.1288761,21.6699434 C11.1288761,21.9460858 11.3527337,22.1699434 11.6288761,22.1699434 C11.7471877,22.1699434 11.8616664,22.1279896 11.951961,22.0515402 L15.4576222,19.0834174 C15.6683723,18.9049825 15.6945689,18.5894857 15.5161341,18.3787356 C15.4982803,18.3576485 15.4787093,18.3380775 15.4576222,18.3202237 L11.951961,15.3521009 C11.7412109,15.173666 11.4257142,15.1998627 11.2472793,15.4106128 C11.1708299,15.5009075 11.1288761,15.6153861 11.1288761,15.7336977 Z" fill="#000000" fill-rule="nonzero" transform="translate(11.959697, 18.661508) rotate(-90.000000) translate(-11.959697, -18.661508) " />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label>Status</label>
                                    <span class="switch switch-outline switch-icon switch-success">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.status" name="status"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-lg-3">
                                    <label>Cliente Próprio</label>
                                    <span class="switch switch-outline switch-icon switch-primary">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.own_client" name="own_client"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div class="col-lg-3">
                                    <label>Tutelado/Curatelado/Menor</label>
                                    <span class="switch switch-outline switch-icon switch-primary">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.tutelado" name="tutelado"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Nome completo*:</label>
                                    <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="client.name" [ngClass]="{'is-invalid': !name.valid && error}" placeholder="Informe o nome completo" required/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                                <div class="col-lg-6">
                                    <label>CPF*:</label>
                                    <input type="text" class="form-control" name="cpf" #cpf="ngModel" [(ngModel)]="client.cpf" [ngClass]="{'is-invalid': !cpf.valid && error}" placeholder="000.000.000-00" mask="000.000.000-00" required/>
                                    <!-- <span class="form-text text-muted">Please enter your contact number</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>RG:</label>
                                    <input type="text" class="form-control" name="rg" #rg="ngModel" [(ngModel)]="client.rg" [ngClass]="{'is-invalid': !rg.valid && client.rg != null && error}"/>
                                </div>
                                <div class="col-lg-3">
                                    <label>Órgão emissor:</label>
                                    <input type="text" class="form-control" name="rg_emitter" #rg_emitter="ngModel" [(ngModel)]="client.rg_emitter" [ngClass]="{'is-invalid': !rg_emitter.valid && client.rg_emitter != null && error}"/>
                                </div>
                                <div class="col-lg-3">
                                    <label>Data de emissão:</label>
                                    <input type="date" class="form-control" name="rg_date" #rg_date="ngModel" [(ngModel)]="client.rg_date" [ngClass]="{'is-invalid': !rg_date.valid && client.rg_date != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Profissão:</label>
                                    <input type="text" class="form-control" name="profession" #profession="ngModel" [(ngModel)]="client.profession" [ngClass]="{'is-invalid': !profession.valid && client.profession != null && error}" placeholder="Informe a profissão"/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                                <div class="col-lg-2">
                                    <label>Certificado Digital</label>
                                    <span class="switch switch-outline switch-icon switch-primary">
                                        <label>
                                            <input type="checkbox" [(ngModel)]="client.certificado_digital" name="certificado_digital"/>
                                            <span></span>
                                        </label>
                                    </span>
                                </div>
                                <div *ngIf="client.certificado_digital == 1" class="col-lg-4">
                                    <label>Tipo do Certificado:</label>
                                    <input type="text" class="form-control" name="certificado_digital_type" #certificado_digital_type="ngModel" [(ngModel)]="client.certificado_digital_type" [ngClass]="{'is-invalid': !certificado_digital_type.valid && client.certificado_digital_type != null && error}"/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Data de nascimento*:</label>
                                    <input type="date" class="form-control" name="birth_date" #birth_date="ngModel" [(ngModel)]="client.birth_date" [ngClass]="{'is-invalid': !birth_date.valid && error}" required/>
                                    <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                                </div>
                                <div class="col-lg-6">
                                    <label>Telefone:</label>
                                    <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="client.phone" placeholder="(00) 0000-00000" mask="(00) 0000-00009" [ngClass]="{'is-invalid': !phone.valid && client.phone != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Estado Civil:</label>
                                    <select type="text" class="form-control" name="civil_status" #civil_status="ngModel"
                                        (onChange)="onChangeCivilStatus()"
                                        [(ngModel)]="client.civil_status"
                                        placeholder="Selecione o estado civil" >
                                        <option [value]="0">Não informado</option>
                                        <option [value]="1">Solteiro(a)</option>
                                        <option [value]="2">Casado(a)</option>
                                        <option [value]="3">Separado(a)</option>
                                        <option [value]="4">Divorciado(a)</option>
                                        <option [value]="5">Viúvo(a)</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Cônjuge:</label>
                                    <ng-select [items]="conjuges$ | async"
                                        [disabled]="client.civil_status != 2 && client.civil_status != 3 && client.civil_status != 4"
                                        #selectConjuge="ngModel"
                                        bindLabel="name"
                                        bindValue ="id"
                                        name="conjuge_id"
                                        [multiple]="false"
                                        [hideSelected]="true"
                                        [loading]="conjugeLoading"
                                        [typeahead]="conjugeinput$"
                                        notFoundText="Cônjuge não encontrado"
                                        loadingText="Carregando..."
                                        clearAllText="Limpar busca"
                                        typeToSearchText="Digite para buscar cônjuge"
                                        [(ngModel)]="client.conjuge_id">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-5"></div>
                            <div class="form-group">
                                <label>E-mail*:</label>
                                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="client.email" [ngClass]="{'is-invalid': !email.valid && error}" placeholder="email@exemplo.com" email required/>
                                <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">Endereço</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>CEP:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cep" mask="00000-000" #cep="ngModel" placeholder="Buscar CEP..." [(ngModel)]="client.address.cep" [ngClass]="{'is-invalid': !cep.valid && client.address?.cep != null && error}">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="button" (click)="searchCEP()">
                                                Buscar
                                            </button>
                                        </div>
                                    </div>
                                    <!-- <input type="text" class="form-control" name="cep" #cep="ngModel" [(ngModel)]="client.cep" [ngClass]="{'is-invalid': !cep.valid && client.cep != null && error}"/> -->
                                    <span class="form-text text-muted">Informe o CEP para buscar</span>
                                </div>
                                <div class="col-lg-6">
                                    <label>Nº:</label>
                                    <input type="text" class="form-control" name="numero" #numero="ngModel" [(ngModel)]="client.address.numero" [ngClass]="{'is-invalid': !numero.valid && client.address.numero != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Logradouro:</label>
                                    <input type="text" class="form-control" name="logradouro" #logradouro="ngModel" [(ngModel)]="client.address.logradouro" [ngClass]="{'is-invalid': !logradouro.valid && client.address.logradouro != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Bairro:</label>
                                    <input type="text" class="form-control" name="bairro" #bairro="ngModel" [(ngModel)]="client.address.bairro" [ngClass]="{'is-invalid': !bairro.valid && client.address.bairro != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Cidade:</label>
                                    <input type="text" class="form-control" name="cidade" #cidade="ngModel" [(ngModel)]="client.address.cidade" [ngClass]="{'is-invalid': !cidade.valid && client.address.cidade != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>UF:</label>
                                    <select type="text" class="form-control" name="uf" #uf="ngModel"
                                        [(ngModel)]="client.address.uf" [ngClass]="{'is-invalid': !uf.valid && client.address.uf != null && error}"
                                        placeholder="Selecione a UF" >
                                        <option value="AC">AC</option>
                                        <option value="AL">AL</option>
                                        <option value="AM">AM</option>
                                        <option value="AP">AP</option>
                                        <option value="BA">BA</option>
                                        <option value="CE">CE</option>
                                        <option value="DF">DF</option>
                                        <option value="ES">ES</option>
                                        <option value="GO">GO</option>
                                        <option value="MA">MA</option>
                                        <option value="MG">MG</option>
                                        <option value="MS">MS</option>
                                        <option value="MT">MT</option>
                                        <option value="PA">PA</option>
                                        <option value="PB">PB</option>
                                        <option value="PE">PE</option>
                                        <option value="PI">PI</option>
                                        <option value="PR">PR</option>
                                        <option value="RJ">RJ</option>
                                        <option value="RN">RN</option>
                                        <option value="RO">RO</option>
                                        <option value="RR">RR</option>
                                        <option value="RS">RS</option>
                                        <option value="SC">SC</option>
                                        <option value="SE">SE</option>
                                        <option value="SP">SP</option>
                                        <option value="TO">TO</option>
                                    </select>
                                    <!-- <input type="text" class="form-control" name="uf" #uf="ngModel" [(ngModel)]="client.uf" [ngClass]="{'is-invalid': !uf.valid && client.uf != null && error}"/> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Complemento:</label>
                                <input type="text" class="form-control" name="complemento" #complemento="ngModel" [(ngModel)]="client.address.complemento" [ngClass]="{'is-invalid': !complemento.valid && client.address.complemento != null && error}" placeholder="Ex.: Apt. 999"/>
                                <!-- <span class="form-text text-muted">Please enter your full name</span> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">Dados Bancários</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Banco:</label>
                                    <ng-select [(ngModel)]="client.bank_code" [items]="banks" bindValue="code" bindLabel="description"
                                    name="bank_code" #bank_code="ngModel" placeholder="Selecione o banco"
                                    notFoundText="Nenhum banco encontrado"></ng-select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Pix:</label>
                                    <input type="text" class="form-control" name="bank_pix" #bank_pix="ngModel" [(ngModel)]="client.bank_pix" [ngClass]="{'is-invalid': !bank_pix.valid && client.bank_pix != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Agência:</label>
                                    <input type="text" class="form-control" name="bank_agency" #bank_agency="ngModel" [(ngModel)]="client.bank_agency" [ngClass]="{'is-invalid': !bank_agency.valid && client.bank_agency != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Conta:</label>
                                    <input type="text" class="form-control" name="bank_account" #bank_account="ngModel" [(ngModel)]="client.bank_account" [ngClass]="{'is-invalid': !bank_account.valid && client.bank_account != null && error}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <h3 class="card-title">Outorgado com Dados</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Cartório:</label>
                                    <input type="text" class="form-control" name="cartorio" #cartorio="ngModel" [(ngModel)]="client.cartorio" [ngClass]="{'is-invalid': !cartorio.valid && client.cartorio != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Livro:</label>
                                    <input type="text" class="form-control" name="livro" #livro="ngModel" [(ngModel)]="client.livro" [ngClass]="{'is-invalid': !livro.valid && client.livro != null && error}"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <label>Ato:</label>
                                    <input type="text" class="form-control" name="ato" #ato="ngModel" [(ngModel)]="client.ato" [ngClass]="{'is-invalid': !ato.valid && client.ato != null && error}"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>Termo:</label>
                                    <input type="text" class="form-control" name="termo" #termo="ngModel" [(ngModel)]="client.termo" [ngClass]="{'is-invalid': !termo.valid && client.termo != null && error}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Row-->
        </form>
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="row pt-5 pb-10">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-text-dark btn-hover-danger mr-2">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success font-weight-bolder" (click)="onSave()">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>
